* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footerParent {
    width: 100%;
    height: 70vh;
    display: block;
    background-color: #f8f9fa;

}

.footMain {
    margin-top: 150%;
    padding: 20px;
}

.footMain p{
    text-justify: auto;
}